accelerate==1.8.1
alabaster==1.0.0
annotated-types==0.7.0
cffi==1.17.1
charset-normalizer==3.4.2
click==8.2.1
cloudpickle==3.1.1
cmake==3.31.6
coverage==7.9.2
cryptography==3.4.8
dask==2025.7.0
dataclasses-json==0.6.7
datasets==3.6.0
decorator==5.2.1
depyf==0.18.0
dill==0.3.8
diskcache==5.6.3
distributed==2025.7.0
distro==1.7.0
dnspython==2.7.0
docutils==0.21.2
einops==0.8.1
email_validator==2.2.0
evaluate==0.4.5
executing==2.2.0
fastapi==0.115.14
fastapi-cli==0.0.7
fastjsonschema==2.21.1
fastrlock==0.8.3
filelock==3.18.0
fqdn==1.5.1
frozendict==2.4.6
frozenlist==1.7.0
fsspec==2025.3.0
gguf==0.17.1
h11==0.16.0
hf-xet==1.1.5
hf_transfer==0.1.9
httplib2==0.20.2
httptools==0.6.4
httpx==0.28.1
httpx-sse==0.4.1
huggingface-hub==0.34.4
imagesize==1.4.1
importlib_metadata==8.7.0
iniconfig==2.1.0
inquirerpy==0.3.4
interegular==0.3.3
jedi==0.19.2
jeepney==0.7.1
Jinja2==3.1.6
jiter==0.10.0
jiwer==4.0.0
jmespath==1.0.1
joblib==1.5.2
keyring==23.5.0
langchain==0.3.26
langchain-community==0.3.27
langchain-core==0.3.70
langchain-text-splitters==0.3.8
langid==1.1.6
langsmith==0.4.8
lark==1.2.2
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
lazy_loader==0.4
libnacl==2.1.0
librosa==0.11.0
llguidance==0.7.30
llvmlite==0.44.0
lm-format-enforcer==0.10.11
locket==1.0.0
markdown-it-py==3.0.0
numba==0.61.2
numpy==2.2.6
oauthlib==3.2.0
openai==1.93.0
openai-harmony==0.0.4
pandas==2.3.0
pandocfilters==1.5.1
parso==0.8.4
partd==1.4.2
partial-json-parser==0.2.1.1.post6
peft==0.15.2
pexpect==4.9.0
redis==6.2.0
referencing==0.36.2
regex==2024.11.6
requests==2.32.4
requests-toolbelt==1.0.0
sentencepiece==0.2.0
setproctitle==1.3.7
setuptools==79.0.1
setuptools-scm==8.3.1
shellingham==1.5.4
shtab==1.7.2
six==1.17.0
tensorizer==2.10.1
terminado==0.18.1
threadpoolctl==3.6.0
tiktoken==0.9.0
tinycss2==1.4.0
tokenizers==0.21.4
toolz==1.0.0
torchao==0.13.0
tornado==6.5.1
tqdm==4.67.1
traitlets==5.14.3
transformers==4.55.4
triton==3.2.0
trl==0.22.2
typeguard==4.4.4
typer==0.16.0
tyro==0.9.31
tzdata==2025.2
unattended-upgrades==0.1
unsloth_zoo==2025.9.5
sacremoses